{% extends 'base.html' %}
{% block sumit %}
<section class="category" id="category">

    <h1 class="heading">Adventure Idea!</h1>
    
    <div class="box-container">
        
        <div class="box">
            <img src="/static/images/category-1.jpg" alt="">
            <h3>bungee jump</h3>
            <p>Bungee jumping is an activity that involves a person jumping from a great height while connected to a large elastic cord.</p>
            <a href="https://en.wikipedia.org/wiki/Bungee_jumping" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="/static/images/category-2.jpg" alt="">
            <h3>zip lines</h3>
            <p>A zip-line, zip line, zip-wire, or flying fox is a pulley suspended on a cable, usually made of stainless steel, mounted on a slope.</p>
            <a href="https://en.wikipedia.org/wiki/Zip_line" class="btn">read more</a>
        </div>
        
        <div class="box">
            <img src="/static/images/category-3.jpg" alt="">
            <h3>Canoeing</h3>
            <p>Canoeing is an activity which involves paddling a canoe with a single-bladed paddle.</p>
            <a href="https://en.wikipedia.org/wiki/Canoeing" class="btn">read more</a>
        </div>
        
    </div>
    
</section>
{% endblock sumit %}