{% extends 'base.html' %}
{% block sumit %}
<div class="search-form">
    <div id="close-search" class="fas fa-times"></div>
    <form action="">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</div>

    <section class="home" id="home">
        
        <div class="wrapper">
            
            <div class="box" style="background: url(/static/images/home1.jpg) no-repeat;">
                <div class="content">
                    <span>thanks for booking</span>
                    <h3>happy journey</h3>
                    <p>Travel.com offers best deals on India tour packages.</p>
                   
                </div>
            </div>  
        </div>
    </section>
{% endblock sumit %}